.container
{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.mock
{
    color: var(--primary-color);
}

.title
{
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
}

.title,.user
{
    margin: 0;
}

.navigation
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.user
{
    margin: 0;
    font-size: 16px;
    color: white;
    font-weight: 400;
    background-color: var(--secondary-color);
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.routes
{
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: white;
}

.route
{
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);    
    padding: 3px 8px;
    border-radius: 5px;
}

.route:hover
{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.dropdown
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(179, 179, 179);
    row-gap: 20px;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 60px;
    z-index: 10;
}

.logout
{
    padding: 2px 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.logout:hover
{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
}

.nav
{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

.nav:hover
{
    color: var(--secondary-color);
    cursor: pointer;
}

.feedback
{
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.active
{
    color: var(--secondary-color);
}