.container
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px 10px;
}

.logo
{
    height: 35px;
    width: fit-content;
    cursor: pointer;
}

.navigation
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.user
{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    color: black;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.routes
{
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: white;
}

.route
{
    background-color: rgb(230, 230, 230); 
    color: black;
    padding: 3px 8px;
    border-radius: 5px;
}

.route:hover
{
    background-color: rgb(241, 241, 241);
}


.dropdown
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    border: 1px solid rgb(37, 37, 37);
    color: white;
    row-gap: 20px;
    padding: 30px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 85px;
    z-index: 10;
}

.nav
{
    color: white;
    cursor: pointer;
}

.feedback
{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}


@media screen and (max-width: 480px)
{
    .container
    {
        flex-direction: column;
        row-gap: 20px;
    }    
}