.container
{
    background-color: black;
    border: 1px solid rgb(75,75,75);
    width: 500px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.record
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 24px;
}

.note
{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.webButton
{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    margin-top: 10px;
    font-size: 14px;
}

.answer
{
    height: 30px;
    width: 100%;
}

.mock,
.title
{
    color: white;
    font-size: 32px;
    font-weight: 800;
    cursor: pointer;
}
