.container
{
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.record
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 24px;
}

.note
{
    background-color: rgb(255, 254, 167);
    border: 1px solid rgb(228, 226, 104);
    padding: 10px;
    border-radius: 5px;
}

.webButton
{
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.webButton:hover
{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.answer
{
    height: 30px;
    width: 100%;
}

.mock
{
    color: var(--primary-color);
}

.title
{
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 800;
    cursor: pointer;
}
