.form
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.controls
{
    display: flex;
    justify-content: end;
    column-gap: 10px;
}

.submit, .cancel
{
    padding: 8px;
    border: 1px solid grey;
    color: grey;
    border-radius: 5px;
}

.submit
{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.submit:hover
{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

