.container
{
    background-color: black;
    color: white;
    width: 525px;
    padding: 30px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: relative;
    border: 1px solid rgb(75,75,75);
}

.title
{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.description
{
    text-align: center;
    margin-bottom: 20px;
}

.submit
{
    width: 80px;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    background: none;
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.pay
{
    padding: 20px 5px;
}

.submit:hover
{
    background-color: rgb(230, 230, 230);
}

.close
{
    font-size: 24px;
    font-weight: 600;
    color: white;
    position: absolute;
    right: -30px;
    top: -10px;
    margin: 0;
    cursor: pointer;
}