.container
{
    width: calc(25% - 12px);
    border: 1px solid rgb(75, 75, 75);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    color: white;
}

.mock
{
    margin: 0;
}

.header, .container
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    margin: 20px 0 0;
}

.date
{
    color: grey;
    font-size: 12px;
}

.review
{
    background-color: white;
    padding: 5px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    min-width: 60px;
}

.review:hover
{
    background-color: rgb(230, 230, 230);
}

.type
{
    background-color: rgb(75,75,75);
    padding: 2px 5px;
    margin: 10px 0;
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

.nav
{
    display: flex;
    column-gap: 5px;
}

.mockWrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.mockIcon
{
    height: 100px;
    width: fit-content;
}


@media screen and (max-width: 1220px) 
{
    .container
    {
        width: calc(33.4% - 12px);
    }    
}

@media screen and (max-width: 1120px) 
{
    .container
    {
        width: calc(50% - 10px);
    }    
}

@media screen and (max-width: 720px) 
{
    .container
    {
        width: 100%;
    }    
}
