.container
{
    display: flex;
    column-gap: 20px;
    padding: 40px 15vw;
    color: white;
    font-size: 14px;
}

.questions
{
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.questionPills
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.question
{
    line-height: 24px;
}

.note
{
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

.responses
{
    width: 50%;
}

.mockInfo
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 5px;
    border: 1px solid rgb(75,75,75);
}

.footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.sound
{
    height: 25px;
    width: fit-content;
}

.sound:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.checkMedia
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner
{
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions
{
    position: fixed;
    right: 28px;
    top: 110px;
    height: 20px;
    width: fit-content;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width:1140px)
{
    .container
    {
        flex-direction: column;
        row-gap: 20px;
    }    

    .questions, .responses
    {
        width: 100%;
    }

    .questions
    {
        row-gap: 10px;
    }
}

@media screen and (max-width: 480px)
{
    .container
    {
        padding: 40px 20px;
    }    

    .checkMedia
    {
        padding: 20px;
    }

    .instructions
    {
        top: 90px;
        right: 10px;
    }
}



