.container
{
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
}

.header, .active
{
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: var(--primary-color);
    margin-top: 20px;
}

.active
{
    color: var(--secondary-color);
}

.mockhub
{
    width: 100%;
    height: calc(80vh - 65px);
    object-fit: cover;
    object-position: center;
}