.container
{
    padding: 30px 10vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
    background-color: black;
}

.header, .active
{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-top: 20px;
}

.globeWrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.globe
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 25px;
}

.active
{
    color: rgb(75,75,75);
}

.mockhub, .content
{
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: cover;
    object-position: center;
}

.content
{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    row-gap: 20px;
    background-color: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.route
{
    background-color: white;    
    width: fit-content;
    bottom: 30px;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.route:hover
{
    background-color: rgb(243, 243, 243);
}

.feedbacks
{
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and  (max-width:640px)
{
    .globeWrapper>span
    {
        font-size: 64px;
        font-weight: 700;
    }

    .globe
    {
        height: 300px;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .feedbacks
    {
        display: none;
    }
}