.container
{
    margin: 0;
    padding: 5px 10px;
    width: fit-content;
    border: 1px solid rgb(75,75,75);
    border-radius: 5px;
}

.activePill
{
    background-color: white;
    color: black;
}

@media screen and (max-width: 480px)
{
    .container
    {
        padding: 5px;
    }    
}