.wrapper
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid rgb(75,75,75);
    color: white;
}

.header
{
    margin-bottom: 20px;
}

.title
{
    height: 50px;
    width: fit-content;
    cursor: pointer;
}

.welcome
{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.input
{
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(75, 75, 75);
    color: white;
}

.controls
{
    display: flex;
    justify-content: start;
    column-gap: 10px;
}

.group
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.label
{
    color: white;
}

.form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.submit
{
    padding: 7px 0;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.forgotpassword
{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.errorMessage
{
    font-size: 12px;
    font-weight: 500;
    color: var(--alert-color);
    margin: 0;
}

.noaccount
{
    margin: 0;
    margin-top: 20px;
}

.link
{
    color: grey;
    font-weight: 500;
}

.link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.option
{
    margin: 0;
    color: grey;
    font-weight: 500;
}

.error
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    color: var(--alert-color);
}

.erroricon
{
    height: 20px;
    width: fit-content;
}

.errorMessage
{
    font-size: 14px;
    margin: 0;
}

.success
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    font-size: 14px;
    color: var(--success-color);
}

.successicon
{
    height: 20px;
    width: fit-content;
}

.successMessage
{
    margin: 0;
}

.progress
{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width:540px)
{
    .wrapper
    {
        padding: 0 20px;
    }

    .container
    {
        width: 100%;
        padding: 20px;
        font-size: 12px;
    }

    .title
    {
        height: 40px;
    }
}