.container
{
    display: flex;
    column-gap: 20px;
    padding: 40px 15vw;
}

.questions
{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    width: 50%;
    min-height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.questionPills
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.question
{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}

.note
{
    background-color: rgb(255, 254, 167);
    border: 1px solid rgb(228, 226, 104);
    padding: 10px;
    border-radius: 5px;
}

.responses
{
    width: 50%;
}

.mockInfo
{
    background-color: rgb(225, 237, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 5px;
    border: 1px solid rgb(144, 186, 248);
}

.footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.sound
{
    height: 30px;
    width: fit-content;
}

.sound:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.checkMedia
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}